.board-menu-container {
  float: left;
  left: 4px;
  top: 42px;
  width: 280px;
  max-height: 500px;
  position: absolute;
  z-index: 1;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 8px 16px -4px rgba(9,30,66,.25),0 0 0 1px rgba(9,30,66,.08);
  box-sizing: border-box;
  outline: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.board-menu-lists {
  margin: 8px 4px 8px 8px;
  overflow-x: hidden;
  overflow-y: auto;
  /*! flex: 1; */
}

.board-menu-section {
  margin: 8px 0 8px;
}

.board-menu-section-header {
  margin: 0 32px 0 8px;
  min-height: 20px;
  position: relative;
  color: #5e6c84;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  line-height: 19px;
}

.board-menu-section-icon {
  display: inline-block;
  height: 20px;
  width: 20px;
  margin-right: 4px;
  font-size: 16px;
  line-height: 20px;
  color: #6b778c;
}

.board-menu-section-list {
  display: block;
  margin-top: 8px;
  margin-bottom: 4px;
  overflow: hidden;
}

.board-li {
  box-sizing: border-box;
  border-radius: 3px;
  position: relative;
  margin: 0 4px 4px 0;
  min-width: 0;
}

.board-li-link {
  display: flex;
  font-weight: 700;
  height: 36px;
  padding: 0;
  position: relative;
  text-decoration: none;
  color: #172b4d;
  background-color: transparent;
  font-size: 14px;
  line-height: 20px;
}

.board-li-contents {
  position: absolute;
  width: 100%;
  height: 36px;
  opacity: 1;
  border-radius: 3px;
  display: flex;
  background-color: #e0eff7;
}

.board-li-contents:hover {
  background-color: rgba(0, 121, 191, 0.2);
}

.board-li-color-block {
  border-radius: 3px 0 0 3px;
  height: 36px;
  width: 36px;
  background-color: rgb(0, 121, 191);
  opacity: 0.7;
}

.board-li-title {
  padding: 9px 0 9px 10px;
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: middle;
  box-sizing: border-box;
}

.board-menu-option {
  padding: 6px 10px;
  margin: 2px 4px 2px 2px;
  border-radius: 3px;
  cursor: pointer;
  text-decoration: underline;
  color: #5e6c84;
}

.board-menu-option:hover {
  background-color: rgba(9,30,66,.08);
  color: #172b4d;
}