.board-content {
  position: relative;
  flex-grow: 1;
}

.list-index-container {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 90%;
}