.card-show-container {
  width: 768px;
  background-color: #f4f5f7;
  border-radius: 2px;
  margin: 48px 0 80px;
  overflow: hidden;
  position: relative;
  color: #172b4d;
}

.card-show-container h3 {
  font-size: 16px;
  line-height: 20px;
}

.card-show-container textarea {
  padding: 4px 8px;
  resize: none;
  cursor: pointer;
  background: transparent;
  border-radius: 3px;
  border: none;
  box-shadow: none;
  font-size: 20px;
  font-weight: 600;
  font-family: inherit;
  line-height: 24px;
}

.card-show-container textarea:focus {
  box-shadow: inset 0 0 0 2px #0079bf;
  background-color: white;
  cursor: text;
}

.card-large-icon {
  color: #42526e;
  height: 32px;
  line-height: 32px;
  width: 32px;
  font-size: 20px;
  text-align: center;
}

.card-show-header {
  margin: 24px 8px 8px 16px;
  min-height: 32px;
}

#card-title-icon {
  float: left;
  margin-right: 4px;
}

.card-title-editor {
  width: 80%;
  margin: -4px -8px;
}

#card-show-close {
  float: right;
  margin-right: 10px;
  font-size: 20px;
}

#card-show-header-listname {
  margin-left: 36px;
}

#card-show-header-listname p {
  font-size: 16px;
  line-height: 20px;
}

.card-show-main {
  float: left;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  min-height: 24px;
  padding: 0 8px 8px 16px;
  position: relative;
  width: 552px;
}

#card-show-close {
  cursor: pointer;
}

.card-description {
  margin-bottom: 24px;
}

.card-description-top {
  display: flex;
  align-items: center;
  padding: 8px 0;
  position: relative;
}

.card-description-top h3 {
  display: inline-block;
  margin: 0;
  padding-left: 4px;
}

.card-description-editor {
  margin-left: 36px;
  width: 500px;
}