.card-show-container {
  width: 768px;
  background-color: #f4f5f7;
  border-radius: 2px;
  margin: 32px 0 80px;
  overflow: auto;
  position: relative;
  color: #172b4d;
  height: 512px;
}

.card-show-container h3 {
  font-size: 16px;
  line-height: 20px;
}

.card-show-container textarea {
  padding: 4px 8px;
  resize: none;
  cursor: pointer;
  background: transparent;
  border-radius: 3px;
  border: none;
  box-shadow: none;
  font-family: inherit;
  line-height: 24px;
}

.card-show-container textarea:focus {
  box-shadow: inset 0 0 0 2px #0079bf;
  background-color: white;
  cursor: text;
}

.card-large-icon {
  color: #42526e;
  height: 32px;
  line-height: 32px;
  width: 32px;
  font-size: 20px;
  text-align: center;
}

.card-show-header {
  margin: 24px 8px 8px 16px;
  min-height: 32px;
}

.card-title-editor {
  font-size: 20px;
  font-weight: 600;
}

#card-title-icon {
  float: left;
  margin-right: 4px;
}

.card-title-editor {
  width: 80%;
  margin: -4px -8px;
}

#card-show-close {
  float: right;
  margin-right: 10px;
  font-size: 20px;
}

#card-show-header-listname {
  margin-left: 36px;
}

#card-show-header-listname p {
  font-size: 16px;
  line-height: 20px;
  color: #5e6c84;
}

.card-show-main {
  float: left;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  min-height: 24px;
  padding: 0 8px 16px 16px;
  position: relative;
  width: 552px;
}

#card-show-close {
  cursor: pointer;
}

.card-section-container {
  margin-bottom: 16px;
}

.card-section-header {
  display: flex;
  align-items: center;
  padding: 8px 0;
  position: relative;
}

.card-section-header h3 {
  display: inline-block;
  margin: 0;
  padding-left: 4px;
}

.duedate-display {
  margin-left: 36px;
}

.duedate-display span {
  display: inline-block;
  margin-right: 8px;
}

.duedate-display button {
  width: 72px;
  border-radius: 3px;
  display: inline-block;
  text-align: center;
  background-color: #eaecef;
  color: #172b4d;
}

.duedate-display button:hover {
  cursor: pointer;
  background-color: rgba(9,30,66,.08);
}

.duedate-display button:first-of-type {
  margin-right: 4px;
}

#remove-duedate-button {
  background-color: #a62b2b;
  color: white;
}

#remove-duedate-button:hover {
  background-color: #bf3d3d;
}

.duedate-form {
  margin-left: 36px;
}

.duedate-form input[type=date] {
  margin-bottom: 8px;
  margin-right: 8px;
  font-family: inherit;
  border-radius: 3px;
  border: none;
  padding: 4px;
  height: 32px;
  width: 175px;
  line-height: 20px;
  font-size: 16px;
}

.duedate-form input[type=submit] {
  background-color: #5aac44;
  box-shadow: none;
  border: none;
  border-radius: 3px;
  color: white;
  height: 32px;
  padding-top: 4px;
  padding-bottom: 4px;
  cursor: pointer;
  line-height: 20px;
  width: 72px;
  font-size: 14px;
}

.duedate-form input[type=submit]:hover {
  background-color: #61bd4f;
}

.duedate-form span {
  margin-left: 8px;
  cursor: pointer;
}

.duedate-form svg {
  margin-right: 4px;
}

.card-description-editor {
  margin-left: 30px;
  width: 500px;
  font-size: 16px;
}

.card-description-editor::placeholder {
  color: #5e6c84;
}