.card-item-container {
  overflow: hidden;
  padding: 8px;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(9,30,66,.25);
  margin-bottom: 8px;
  max-width: 300px;
  min-height: 20px;
}

.card-item-container span {
  display: block;
  padding: 2px 0px;
  overflow: hidden;
  text-decoration: none;
  word-wrap: break-word;
  color: #172b4d;
}

.card-item-container span#card-item-duedate {
  display: inline-block;
  margin-top: 4px;
}

.card-item-container span#card-item-duedate svg {
  margin-right: 4px;
}