.card-show-container {
  width: 768px;
  background-color: #f4f5f7;
  border-radius: 2px;
  margin: 48px 0 80px;
  overflow: hidden;
  position: relative;
  color: #172b4d;
}

.card-large-icon {
  color: #42526e;
  height: 32px;
  line-height: 32px;
  width: 32px;
  font-size: 24px;
}

.card-show-header {
  margin: 12px 40px 8px 56px;
  min-height: 32px;
  position: relative;
}

.card-title-editor {
  width: 90%;
  background: transparent;
  border-radius: 3px;
  box-shadow: none;
  font-size: 20px;
  font-weight: 600;
  font-family: inherit;
  line-height: 24px;
  margin: -4px -8px;
  min-height: 24px;
  padding: 4px 8px;
  resize: none;
}

.card-show-main {
  float: left;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  min-height: 24px;
  padding: 0 8px 8px 16px;
  position: relative;
  width: 552px;
}

#card-show-close {
  cursor: pointer;
}