.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #026aa7;
}

.navbar .navbar-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0.25rem;
}

.navbar .navbar-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0.25rem;
}

.navbar-button {
  height: 32px;
  width: 32px;
  background-color: rgba(255,255,255,0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  border-radius: 3px;
  padding: 0;
  margin-right: 4px;
  transition: 0.1s;
}

.navbar-button:hover {
  background-color: rgba(255,255,255,0.2);
  cursor: pointer;
}

.navbar svg {
  color: white;
  font-size: 20px;
}

.navbar-button.long-button {
  width: 6rem;
  box-sizing: border-box;
  justify-content: space-around;
  text-decoration: none;
  color: white;
}

.navbar-search {
  height: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-search input {
  height: 1.5rem;
  box-sizing: content-box;
  font-size: 1rem;
  padding: 0.25rem;
  border: none;
  border-radius: 0.25rem;
  background-color:  rgba(255,255,255,0.3);
  margin-right: 0.25rem;
}

.navbar-search input::placeholder {
  color: white;
}

.navbar-search input:hover {
  background-color: rgba(255,255,255,0.2);
}

.navbar-search input:focus {
  background-color: white;
  color: #4d4d4d;
}

.navbar.logo {
  opacity: 0.5;
  display: block;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  top: 10px;
  height: 30px;
  width: 80px;
  text-align: center;
  font-size: 25px;
}

.navbar.logo:hover {
  opacity: 1;
}

#logout-button {
  margin-right: 0;
}