.session-form-main {
  display: flex;
  justify-content: center;
  padding: 2em 1em;
}

.session-form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.session-form-heading {
  display: flex;
  flex-direction: column;
  float: left;
}

.session-form-heading h1 {
  font-size: 2.5rem;
  font-weight: bold;
  padding-bottom: 0.5rem;
}

.session-alt-link {
  font-size: 1.2rem;
  padding-bottom: 1rem;
}

/* .session-errors-div {
}

.session-errors {
  color: red;
  border: 1px solid black;
  max-width: 540px;
  padding: 4px;
} */

.session-form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.session-form-inputs {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.session-form-inputs label {
  margin-bottom: 0.5rem;
  font-size: 18px;
}

.session-form-inputs input {
  margin-bottom: 0.5rem;
  font-size: 20px;
  border-radius: 0.25rem;
  background-color: #e2e4e6;
}

.session-form-inputs input[type=submit] {
  margin-top: 1.5rem;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  background-color: #e2e4e6;
  color: #8c8c8c;
  border-radius: 0.25rem;
  padding: 12px 5px;
  text-align: center;
  font-size: 14px;
}

.session-form input[type=submit]:hover {
  background-color: #61bd4f;
  color: white;
}

.session-form-return-home {
  margin-top: 1rem;
}



