.session-form-main {
  display: flex;
  justify-content: center;
  padding: 2em 1em;
}

.session-form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  max-width: 540px;
}

.session-form-heading {
  display: flex;
  flex-direction: column;
  float: left;
  padding-bottom: 1rem;
}

.session-form-heading h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #333333;
  padding-bottom: 0.55rem;
}

.session-form-link {
  font-size: 1.25rem;
  padding-bottom: 1rem;
  color: #298fca;
}

.errors {
  max-width: 540px;
  padding: 0 0 1rem 0;
}

.errors li {
  color: #ff2424;
}

.session-form-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.session-form-inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.session-form-inputs label {
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
  color: #4d4d4d;
}

.session-form-inputs input {
  margin-bottom: 0.75rem;
  font-size: 1.25rem;
  border-radius: 0.25rem;
  background-color: #edeff0;
  padding: 0.25rem;
  box-sizing: border-box;
  width: 100%;
  font-family: "Work Sans", sans-serif;
}

.session-form-inputs::placeholder {
  color: #979898;
  opacity: 1;
}

.session-form-inputs:focus {
  color: #4d4d4d;
}

.session-form-inputs input[type=submit] {
  margin-top: 1rem;
  background-color: #e2e4e6;
  color: #8c8c8c;
  text-align: center;
}

.session-form-inputs input[type=submit]:hover {
  background-color: #61bd4f;
  border-color: #61bd4f;
  color: white;
}

.navbar-button#logout-button {
  
}