.splash-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
}

.splash-navbar {
  display: flex;
  justify-content: space-between;
  background-color: #1574c1;
  padding: 16px;
}

.splash-header a {
  text-decoration: none;
  color: white;
}

.navbar-logo {
  font-family: "Pacifico", cursive;
  font-size: 40px;
}

.splash-session-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  float: right;
  width: 200px;
}

.splash-session-buttons > a {
  font-size: 16px;
  font-weight: bold;
  border: 1px transparent;
  padding: 12px 5px;
}

.splash-login-button {
  color: white !important;
  background-color: transparent;
}

.splash-login-button:hover {
  text-decoration: underline;
}

.splash-white-button {
  color: #1574c1 !important;
  background-color: white !important;
  border-radius: 0.25rem;
}

section#splash-1 {
  background: linear-gradient(135deg, #0079bf, #5067c5);
  width: 100%
}

div#splash-1-container {
  height: 750px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 5rem;
  margin-left: 5%;
  margin-right: 5%;
}

.splash-1-pitch {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 15px;
  padding-left: 15px;
}

.splash-1-pitch h1{
  font-size: 3rem;
  font-weight: bold;
  padding-bottom: 1rem;
}

.splash-1-pitch p {
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

.splash-1-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 1rem;
}

.splash-1-button {
  width: 40%;
  text-align: center;
  padding: 12px 5px;
  text-decoration: none;
  background-color: #61bd4f;
  color: white;
  border-radius: 0.25rem;
}

.splash-1-img img{
  width: auto;
  max-width: 640px;
  height: auto;
}