.create-board-form {
  margin: 0 auto;
  width: 512px;
}

.create-board-form-inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  box-sizing: content-box;
}

.create-board-form-inputs input[type="text"] {
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  padding: 2px 8px;
  border-radius: 3px;
  border: transparent;
}


.create-board-form-inputs textarea {
  font-family: "Work Sans", sans-serif;
  height: 100px;
  margin-top: 16px;
  font-size: 16px;
  line-height: 24px;
  padding: 2px 8px;
  border-radius: 3px;
  border: transparent;
}

.create-board-submit {
  margin: 16px 8px 16px 0;
  padding: 6px 12px;
  width: 128px;
  text-align: center;
  border-radius: 3px;
}

.create-board-submit[disabled=false] {
  cursor: not-allowed;
  background-color: #f4f5f7;
  color: #a5adba;
}