.board-index-view {
  margin: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.board-index-container {
  margin: 64px 20% 0 20%;
  width: auto;
  max-width: 832px;
}

.boards-section {
  padding: 0 0 20px;
  margin: 0 auto;
}

.boards-section-header {
  margin: 0;
  padding: 0 0 8px;
  position: relative;
  display: flex;
}

.boards-section-icon {
  height: 32px;
  line-height: 32px;
  width: 32px;
  font-size: 24px;
  color: #42526e;
  margin-right: 8px;
}

.boards-section-header h3 {
  display: inline-block;
  line-height: 24px;
  margin: 4px 0 0;
  font-size: 18px;
  font-weight: 600;
  color: #114091;
}

.boards-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.board-list-item {
  width: 200px;
  padding: 0;
  margin: 0 8px 8px 0;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
}

.board-list-item > a, .board-list-item#create-board-li {
  margin-right: 0;
  border-radius: 3px;
  height: 80px;
  display: block;
  line-height: 20px;
  padding: 8px;
  position: relative;
  text-decoration: none;
}

.board-list-item > a {
  background-color: #0079bf;
  color: white;
}

.board-list-item > a:hover {
  opacity: 0.9
}

.board-list-item#create-board-li {
  background-color: #f0f2f4;
  color: #172b4d;
  height: 96px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board-list-item#create-board-li:hover {
  background-color: rgba(9,30,66,.08);
  box-shadow: none;
  border: none;
}
