.membership-form-container {
  height: auto;
  width: 280px;
  position: absolute;
  top: 88px;
  z-index: 1;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 8px 16px -4px rgba(9,30,66,.25),0 0 0 1px rgba(9,30,66,.08);
  box-sizing: border-box;
  outline: 0;
}

.membership-form-header {
  padding: 0 12px;
  position: relative;
  text-align: center;
}

.membership-form-title {
  box-sizing: border-box;
  border-bottom: 1px solid rgba(9,30,66,.13);
  color: #5e6c84;
  display: block;
  height: 40px;
  line-height: 40px;
  margin-bottom: 8px;
  padding: 0 32px;
}

.membership-message-container {
  margin: 0 12px 8px;
  color: white;
  background-color: darkblue;
}

.membership-message-container p {
  font-size: 14px;
  margin-bottom: 4px;
  text-align: center;
}

.membership-message-container p:last-of-type {
  margin-bottom: 0;
}

.membership-form-content {
  padding: 0 12px 12px;
}

.membership-form-content form {
  display: flex;
  flex-direction: column;
}

.membership-form-content input[type=email] {
  border-radius: 3px;
  line-height: 20px;
  padding: 4px 8px;
  font-size: 14px;
  border: 2px solid #a5adba;
}

.membership-form-content input[type=email]:focus {
  border: 2px solid #0079bf;
}

.membership-form-content input[type=email]:placeholder {
  color: #0079bf;
}

.membership-form-content input[type=submit] {
  background-color: #5aac44;
  box-shadow: none;
  border: none;
  border-radius: 3px;
  color: white;
  height: 32px;
  margin-top: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  cursor: pointer;
  line-height: 20px;
  width: 100px;
  font-size: 14px;
  text-align: center;
}

.membership-form-content input[type=submit]:hover {
  background-color: #61bd4f;
}

.membership-form-content input[type=submit][disabled] {
  cursor: not-allowed;
  background-color: #f4f5f7;
  color: #a5adba;
}